.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: transparent;
    margin: auto auto 0 auto;
    background-color: rgb(44, 44, 44);
}
.texto_footer {
    color: white;
    margin: 5px;
}
.icono_link_externo {
    width: 30px;
    filter: invert(100%);
    margin: 5px;
}
