* {
    margin: 0;
    padding: 0;
}

.navegacion {
    text-decoration: none;
    color: black;
}

.tipografia_Titulo {
    font-family: "Bruno Ace SC", cursive;
}

.fuente_textos {
    font-family: "Roboto", sans-serif;
}
.toast_esitlo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.contenedor_navegacion {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
}
